.vermelho{
  background-color: red;
}

.amarelo{
  background-color: yellow;
  
  color: rgba(51, 51, 51, 1);
}

/*

{props => {
        if(props.cor===undefined){
            return rgba(51, 51, 51, 1);
        }
        if(props.cor===erro){
            return red;
        }
        if(props.cor===quase){
            return orange;
        }
        if(props.cor===certo){
            return green;
        }
    }}
    
{ virada === true 
            ?
                (
                    <Pergunta data-test="flashcard">
                        <p data-test="flashcard-text">{pergunta}</p>
                        <button data-test="play-btn" onClick={virarCard}>
                            <img src={play}/>
                        </button>
                    </Pergunta>
                )
            :
                <>
                    <Pergunta1>
                        <p data-test="flashcard-text">{cards[indice].question}</p>
                        <button data-test="turn-btn">
                            <img src={virar}/>
                        </button>
                    <Pergunta1/>
                </>}
<p data-test="flashcard-text">{cards[indice].question}</p>
<button data-test="turn-btn">
    <img src={virar}/>
</button>

<p data-test="flashcard-text">{cards[indice].answer}</p>
            <button data-test="no-btn">
                <img src={erro}/>
            </button>
            <button data-test="partial-btn">
                <img src={quase}/>
            </button>
            <button data-test="zap-btn">
                <img src={certo}/>
            </button>

{perguntas.map( (pergunta,indice) => 
        <div 
          key={indice} 
          className={classPergunta}
          data-test="flashcard"
        >
          <p data-test="flashcard-text">
            {pergunta}
           
          </p>
          <button
            data-test="play-btn" 
            onClick={() => mostrarPergunta (indice)}>
            <img src={play}/>
          </button>
        </div>
      )}
      

            
      */